GdiDemo/GdiDemo.suo
GdiDemo/GdiDemo/bin/Debug
GdiDemo/GdiDemo/obj/x86/Debug

GdiDemo/GdiDemo.suo
GdiDemo/GdiDemo/bin/Debug/GdiDemo.exe
GdiDemo/GdiDemo/obj/x86/Debug/GdiDemo.csproj.FileListAbsolute.txt
GdiDemo/GdiDemo/obj/x86/Debug/GdiDemo.csproj.GenerateResource.Cache
GdiDemo/GdiDemo/bin/Debug/GdiDemo.exe
*.exe
GdiDemo/GdiDemo/bin/Debug/GdiDemo.exe
GdiDemo/GdiDemo/bin/Debug/GdiDemo.exe
GdiDemo/GdiDemo/bin/Debug/GdiDemo.pdb
GdiDemo/GdiDemo/obj/x86/Debug/GdiDemo.exe
GdiDemo/GdiDemo/obj/x86/Debug/GdiDemo.pdb
